<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f52549d064b920c89c7c57b338aca93:9de5b3fea9f10cc0341257715c8d6890:e81c9e25e5685a4e45a0d07249f42643$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesOne-667.1.png</string>
                <key>size</key>
                <string>{1457,2008}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBackground.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{750,1334}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneTimerMachine1.png</string>
                        <key>spriteOffset</key>
                        <string>{35,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,1337},{681,662}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneTimerMachine2.png</string>
                        <key>spriteOffset</key>
                        <string>{35,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{753,1},{681,662}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneTimerMachine3.png</string>
                        <key>spriteOffset</key>
                        <string>{35,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{753,665},{681,662}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneFoodDropper.png</string>
                        <key>spriteOffset</key>
                        <string>{3,974}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{684,1337},{745,360}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneFoodCatcherBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{0,378}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{684,1699},{750,308}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneFoodCatcherHole.png</string>
                        <key>spriteOffset</key>
                        <string>{299,632}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1431,1329},{25,142}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
