<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ceb6f6ef927d47e2ac8fc72d239484c:47ac5e1b13868b5c930e771bfcd8e960:9e221f2e1a98afb758cb41f85bea4ecf$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesThree-568.1.png</string>
                <key>size</key>
                <string>{2018,469}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,68},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{323,1},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,135},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{323,68},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{645,1},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,202},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{323,135},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{645,68},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{967,1},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,269},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{323,202},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0019.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{645,135},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0020.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{967,68},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0021.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1289,1},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0022.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,336},{320,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,403},{319,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{322,403},{319,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{645,202},{319,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{967,135},{319,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1289,68},{319,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1611,1},{319,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0023.png</string>
                        <key>spriteOffset</key>
                        <string>{3,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{323,269},{317,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0024.png</string>
                        <key>spriteOffset</key>
                        <string>{7,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{323,336},{313,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0025.png</string>
                        <key>spriteOffset</key>
                        <string>{11,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{966,202},{309,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0026.png</string>
                        <key>spriteOffset</key>
                        <string>{15,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1288,135},{305,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0027.png</string>
                        <key>spriteOffset</key>
                        <string>{20,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1610,68},{300,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0028.png</string>
                        <key>spriteOffset</key>
                        <string>{24,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{642,269},{296,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0029.png</string>
                        <key>spriteOffset</key>
                        <string>{28,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{638,336},{292,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0030.png</string>
                        <key>spriteOffset</key>
                        <string>{32,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{643,403},{288,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0031.png</string>
                        <key>spriteOffset</key>
                        <string>{36,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1277,202},{284,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0032.png</string>
                        <key>spriteOffset</key>
                        <string>{40,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1595,135},{280,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0033.png</string>
                        <key>spriteOffset</key>
                        <string>{44,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{940,269},{276,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0034.png</string>
                        <key>spriteOffset</key>
                        <string>{49,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{932,336},{271,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0035.png</string>
                        <key>spriteOffset</key>
                        <string>{53,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{933,403},{267,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0036.png</string>
                        <key>spriteOffset</key>
                        <string>{57,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1202,403},{263,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0037.png</string>
                        <key>spriteOffset</key>
                        <string>{61,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1205,336},{259,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0038.png</string>
                        <key>spriteOffset</key>
                        <string>{65,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1218,269},{255,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0039.png</string>
                        <key>spriteOffset</key>
                        <string>{69,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1563,202},{251,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0040.png</string>
                        <key>spriteOffset</key>
                        <string>{73,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1475,269},{247,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0041.png</string>
                        <key>spriteOffset</key>
                        <string>{78,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1466,336},{242,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0042.png</string>
                        <key>spriteOffset</key>
                        <string>{82,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1467,403},{238,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0043.png</string>
                        <key>spriteOffset</key>
                        <string>{86,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1707,403},{234,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0044.png</string>
                        <key>spriteOffset</key>
                        <string>{90,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1710,336},{230,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0045.png</string>
                        <key>spriteOffset</key>
                        <string>{94,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1724,269},{226,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0046.png</string>
                        <key>spriteOffset</key>
                        <string>{98,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1932,1},{65,222}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0047.png</string>
                        <key>spriteOffset</key>
                        <string>{102,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1952,225},{65,218}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
