<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba054c4a74ef445049498b6d4b21ac9d:616259bfdd7fbdb8c693a7e4bf839671:0fd77238096960e0a8c90c739b649a16$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ConfettiAnimSprites3-736.1.png</string>
                <key>size</key>
                <string>{4886,5584}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,42}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{1227,4338}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{1,4341},{4282,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,42}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{1230,1},{1202,4320}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,64}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{2434,1},{1226,4259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,92}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{3662,1},{1223,4239}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
