<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5451883e66857d56bca34390f089279d:9662ec4a7b09f25901e977ecba8205cb:0a72d4ca4fbcf54dba449d5bd3b20905$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesTwo-736.1.png</string>
                <key>size</key>
                <string>{1841,1016}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0045.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{180,281}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0054.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,284},{180,281}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{251,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,567},{89,281}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0049.png</string>
                        <key>spriteOffset</key>
                        <string>{365,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,850},{179,165}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0053.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{92,567},{181,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0046.png</string>
                        <key>spriteOffset</key>
                        <string>{365,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{182,849},{177,166}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0055.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{183,1},{177,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0032.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{183,283},{176,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0052.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{275,565},{176,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0028.png</string>
                        <key>spriteOffset</key>
                        <string>{251,598}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{361,283},{160,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0044.png</string>
                        <key>spriteOffset</key>
                        <string>{251,616}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{362,1},{146,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0041.png</string>
                        <key>spriteOffset</key>
                        <string>{251,616}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{510,1},{141,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0048.png</string>
                        <key>spriteOffset</key>
                        <string>{365,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{361,847},{178,165}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0043.png</string>
                        <key>spriteOffset</key>
                        <string>{251,616}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{453,565},{141,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{251,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{523,283},{90,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0026.png</string>
                        <key>spriteOffset</key>
                        <string>{359,598}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{541,847},{172,164}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0019.png</string>
                        <key>spriteOffset</key>
                        <string>{251,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{596,565},{86,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{251,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{615,283},{85,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0031.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{684,565},{179,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0033.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{179,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0058.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{702,282},{179,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0030.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{834,1},{178,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0047.png</string>
                        <key>spriteOffset</key>
                        <string>{365,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{715,846},{177,163}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0057.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{865,563},{178,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0051.png</string>
                        <key>spriteOffset</key>
                        <string>{359,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{894,844},{179,171}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0040.png</string>
                        <key>spriteOffset</key>
                        <string>{251,616}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{883,282},{144,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0042.png</string>
                        <key>spriteOffset</key>
                        <string>{251,616}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1014,1},{144,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{251,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1029,282},{89,279}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0056.png</string>
                        <key>spriteOffset</key>
                        <string>{251,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1045,563},{177,277}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0027.png</string>
                        <key>spriteOffset</key>
                        <string>{359,598}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1075,842},{163,173}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0029.png</string>
                        <key>spriteOffset</key>
                        <string>{251,598}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1120,282},{160,277}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0020.png</string>
                        <key>spriteOffset</key>
                        <string>{251,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1224,561},{86,277}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0038.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1240,840},{177,174}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0035.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1160,1},{177,181}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{440,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1160,184},{89,91}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{445,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1251,184},{86,91}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0062.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1282,277},{177,181}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{443,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1282,460},{89,90}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0036.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1339,1},{178,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{441,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1339,183},{86,90}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{439,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1427,183},{88,89}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0060.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1312,552},{176,179}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{439,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1373,460},{88,89}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0039.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1461,274},{176,178}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{445,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1517,183},{85,89}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0037.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1519,1},{177,177}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{437,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1604,180},{87,88}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{444,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1463,454},{86,88}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0022.png</string>
                        <key>spriteOffset</key>
                        <string>{374,673}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1312,733},{156,87}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0059.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1419,822},{176,177}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0024.png</string>
                        <key>spriteOffset</key>
                        <string>{374,673}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1470,733},{156,87}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0061.png</string>
                        <key>spriteOffset</key>
                        <string>{354,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1490,544},{176,177}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0050.png</string>
                        <key>spriteOffset</key>
                        <string>{359,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1668,270},{172,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0025.png</string>
                        <key>spriteOffset</key>
                        <string>{359,598}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1668,448},{172,160}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{444,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1551,454},{87,87}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{442,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1693,180},{86,87}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{449,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1781,1},{47,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{443,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1698,1},{78,85}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{445,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1698,88},{86,86}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0023.png</string>
                        <key>spriteOffset</key>
                        <string>{374,673}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1668,610},{157,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0021.png</string>
                        <key>spriteOffset</key>
                        <string>{374,673}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1668,696},{156,86}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0034.png</string>
                        <key>spriteOffset</key>
                        <string>{357,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1597,822},{174,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
