<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3828344e07c3c3280a5b9b9e773091cd:45b4c38f8a9099827770247dbac54b7d:4ec4f28732dee64557b7a90ab664fec9$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LightningAttackSprites4.1.png</string>
                <key>size</key>
                <string>{1004,1579}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G53.png</string>
                        <key>spriteOffset</key>
                        <string>{29,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{445,564}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G54.png</string>
                        <key>spriteOffset</key>
                        <string>{29,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,567},{445,564}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G55.png</string>
                        <key>spriteOffset</key>
                        <string>{29,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,1133},{564,445}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G52.png</string>
                        <key>spriteOffset</key>
                        <string>{65,474}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{448,1},{294,493}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg1.png</string>
                        <key>spriteOffset</key>
                        <string>{165,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{448,496},{278,298}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg16.png</string>
                        <key>spriteOffset</key>
                        <string>{165,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{448,796},{298,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg10.png</string>
                        <key>spriteOffset</key>
                        <string>{182,449}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{728,496},{263,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg12.png</string>
                        <key>spriteOffset</key>
                        <string>{182,449}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{728,496},{263,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg14.png</string>
                        <key>spriteOffset</key>
                        <string>{182,449}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{728,496},{263,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg4.png</string>
                        <key>spriteOffset</key>
                        <string>{182,449}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{728,496},{263,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg6.png</string>
                        <key>spriteOffset</key>
                        <string>{182,449}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{728,496},{263,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg8.png</string>
                        <key>spriteOffset</key>
                        <string>{182,449}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{728,496},{263,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg2.png</string>
                        <key>spriteOffset</key>
                        <string>{199,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{744,1},{226,278}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G56.png</string>
                        <key>spriteOffset</key>
                        <string>{217,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{744,281},{259,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg11.png</string>
                        <key>spriteOffset</key>
                        <string>{199,470}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{567,1057},{226,272}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg13.png</string>
                        <key>spriteOffset</key>
                        <string>{199,470}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{567,1057},{226,272}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg3.png</string>
                        <key>spriteOffset</key>
                        <string>{199,470}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{567,1057},{226,272}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg5.png</string>
                        <key>spriteOffset</key>
                        <string>{199,470}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{567,1057},{226,272}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg7.png</string>
                        <key>spriteOffset</key>
                        <string>{199,470}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{567,1057},{226,272}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg15.png</string>
                        <key>spriteOffset</key>
                        <string>{199,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{748,792},{226,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg9.png</string>
                        <key>spriteOffset</key>
                        <string>{199,470}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{567,1331},{272,226}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg17.png</string>
                        <key>spriteOffset</key>
                        <string>{217,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{795,1053},{189,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
