<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c17511e8f3fe39b2a16662a2bf971c05:de32711fd40dd875a3de0a6a1251f38b:b81149dcf6cf470a7deafd127591da1a$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LoadingScreenSprites-667.1.png</string>
                <key>size</key>
                <string>{1919,1608}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenReggyBotThroneBackGround.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{750,1334}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel1Foods.png</string>
                        <key>spriteOffset</key>
                        <string>{0,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{753,1},{1165,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel9Foods.png</string>
                        <key>spriteOffset</key>
                        <string>{0,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{753,753},{1165,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenReggyBot.png</string>
                        <key>spriteOffset</key>
                        <string>{251,509}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,1337},{485,251}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLeftKey.png</string>
                        <key>spriteOffset</key>
                        <string>{127,692}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{488,1337},{101,161}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenRightKey.png</string>
                        <key>spriteOffset</key>
                        <string>{544,692}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{591,1337},{101,161}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLoadingIcon3.png</string>
                        <key>spriteOffset</key>
                        <string>{418,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{488,1505},{332,102}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLoadingIcon2.png</string>
                        <key>spriteOffset</key>
                        <string>{418,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{822,1505},{324,102}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLoadingIcon1.png</string>
                        <key>spriteOffset</key>
                        <string>{418,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1148,1505},{294,102}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
