<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec291914ba8b509e1d280e14554bc5e8:fb175034121e10234a16d9283f9984d6:3c49dc971d1622f4e2fc59bfc8c0a0da$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LoadingScreenSpites2-736.1.png</string>
                <key>size</key>
                <string>{12440,1894}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel11Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{1242,1892}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel13Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1245,1},{1242,1892}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel14Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{2489,1},{1242,1892}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel15Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{3733,1},{1242,1892}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel16Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{4977,1},{1242,1892}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel19Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{6221,1},{1242,1892}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel10Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,141}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{7465,1},{1242,1806}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel12Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,141}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{8709,1},{1242,1806}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel17Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,140}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{9953,1},{1242,1805}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel18Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,140}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{11197,1},{1242,1805}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
