<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb17541cdc57356c711d79395b805cc7:ef496c6bd42948811ae8754992d9da5f:f48a50b198a475ea822d9258d87d94d4$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ConfettiAnimSprites2-568.1.png</string>
                <key>size</key>
                <string>{2046,3349}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBronzeConfetti5.png</string>
                        <key>spriteOffset</key>
                        <string>{7,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2080}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{2044,633}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBronzeConfetti4.png</string>
                        <key>spriteOffset</key>
                        <string>{10,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2080}</string>
                        <key>textureRect</key>
                        <string>{{1,636},{2035,630}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBronzeConfetti1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2080}</string>
                        <key>textureRect</key>
                        <string>{{1,1268},{640,2080}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBronzeConfetti2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2080}</string>
                        <key>textureRect</key>
                        <string>{{643,1268},{637,2073}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBronzeConfetti3.png</string>
                        <key>spriteOffset</key>
                        <string>{8,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2080}</string>
                        <key>textureRect</key>
                        <string>{{1282,1268},{632,2056}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
