<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f91eb582b12995430d15fec14a8c1f88:c0baca063a28948ee48843e37d4201bb:a5cc8ef7fe43cf6b677a12fd50f1c1a0$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>VictoryPrizeSpritesTwo-568.1.png</string>
                <key>size</key>
                <string>{2995,1336}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenTopGold.png</string>
                        <key>spriteOffset</key>
                        <string>{32,30}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1369}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{594,1333}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenBackGold.png</string>
                        <key>spriteOffset</key>
                        <string>{15,38}</string>
                        <key>spriteSourceSize</key>
                        <string>{720,2506}</string>
                        <key>textureRect</key>
                        <string>{{597,1},{2397,692}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenMediumGold.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1945}</string>
                        <key>textureRect</key>
                        <string>{{597,695},{1930,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
