<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc995c295608cbee5a319b04f3a267c1:495ee61b71ed41f0ed63396a22d04c90:709a9fdafa0ec52675fea0edcd6a6e0a$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesFour-568.1.png</string>
                <key>size</key>
                <string>{3617,1118}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBlueMarlinScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBlueTangScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,560},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBlueWhaleScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{596,1},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneDolphinScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{596,560},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneHermitCrabScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1191,1},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneKillerWhaleScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1191,560},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneOctopusScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1786,1},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSealScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1786,560},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSharkScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{2381,1},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneShrimpScoreBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{13,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{2381,560},{593,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneTutorial.png</string>
                        <key>spriteOffset</key>
                        <string>{0,511}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{2976,1},{640,380}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneTutorial1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,511}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{2976,383},{640,380}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
