<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27547b4d2242a6f22f7f5c060dbb32cd:d2f9361cb4df6b2bb9bed5753fd84a5d:dc0a901147a9895f3268ccdb29e9c244$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ArcadeSpritesTwo.1.png</string>
                <key>size</key>
                <string>{1908,1953}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeStars.png</string>
                        <key>spriteOffset</key>
                        <string>{985,918}</string>
                        <key>spriteSourceSize</key>
                        <string>{2650,2646}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{652,989}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeBigFruitOrVeggyMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,992},{640,960}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>FFArcadeSpace.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{655,1},{640,960}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeBigFruitOrVeggyMachineShading.png</string>
                        <key>spriteOffset</key>
                        <string>{30,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1297,1},{610,960}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeBigClock.png</string>
                        <key>spriteOffset</key>
                        <string>{0,698}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{655,963},{640,262}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeArcadeTitle1.png</string>
                        <key>spriteOffset</key>
                        <string>{15,767}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1297,963},{601,193}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeArcadeTitle2.png</string>
                        <key>spriteOffset</key>
                        <string>{15,767}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1227},{601,193}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeArcadeTitle3.png</string>
                        <key>spriteOffset</key>
                        <string>{15,767}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1422},{601,193}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeArcadeTitle4.png</string>
                        <key>spriteOffset</key>
                        <string>{15,767}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1617},{601,193}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeArcadeTitle5.png</string>
                        <key>spriteOffset</key>
                        <string>{15,767}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1297,1158},{601,193}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeArcadeTitle6.png</string>
                        <key>spriteOffset</key>
                        <string>{15,767}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1246,1353},{601,193}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeFOVMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{149,401}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1246,1548},{382,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeFOVIcon.png</string>
                        <key>spriteOffset</key>
                        <string>{157,655}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1630,1548},{211,332}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeClock.png</string>
                        <key>spriteOffset</key>
                        <string>{424,856}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1812},{216,104}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeLock.png</string>
                        <key>spriteOffset</key>
                        <string>{262,720}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{861,1812},{130,118}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeBronzeWinIcon1.png</string>
                        <key>spriteOffset</key>
                        <string>{130,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1849,1353},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeBronzeWinIcon2.png</string>
                        <key>spriteOffset</key>
                        <string>{171,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1246,1227},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeBronzeWinIcon3.png</string>
                        <key>spriteOffset</key>
                        <string>{211,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{993,1812},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeGoldWinIcon1.png</string>
                        <key>spriteOffset</key>
                        <string>{130,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1918},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeGoldWinIcon2.png</string>
                        <key>spriteOffset</key>
                        <string>{171,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1849,1378},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeGoldWinIcon3.png</string>
                        <key>spriteOffset</key>
                        <string>{211,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1246,1252},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeSilverWinIcon1.png</string>
                        <key>spriteOffset</key>
                        <string>{130,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1022,1812},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeSilverWinIcon2.png</string>
                        <key>spriteOffset</key>
                        <string>{171,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{993,1837},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFArcadeSilverWinIcon3.png</string>
                        <key>spriteOffset</key>
                        <string>{211,799}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{672,1918},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
