<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9fbba9eb03a2a9b85db25653ded2edc:3039364d9e3df7977735df5c7f69cb82:9c035f26d6d3367f156f322b82f06ec1$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ReggyAnimSprites-568.1.png</string>
                <key>size</key>
                <string>{2025,1920}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BrokenScreen.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{640,1136}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0009.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1139},{463,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{245,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1781},{300,137}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{245,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{303,1781},{300,137}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggSplat.png</string>
                        <key>spriteOffset</key>
                        <string>{6,344}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{466,1139},{555,634}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{298,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{605,1775},{348,144}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{298,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{955,1775},{348,144}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0008.png</string>
                        <key>spriteOffset</key>
                        <string>{15,187}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1305,1},{564,427}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{259,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1871,1},{153,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{259,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1871,297},{153,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Curtain.png</string>
                        <key>spriteOffset</key>
                        <string>{197,558}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1023,1},{233,178}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0008.png</string>
                        <key>spriteOffset</key>
                        <string>{307,308}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1258,1},{43,47}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0006.png</string>
                        <key>spriteOffset</key>
                        <string>{300,626}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1258,50},{41,38}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0005.png</string>
                        <key>spriteOffset</key>
                        <string>{296,653}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1258,90},{36,29}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0007.png</string>
                        <key>spriteOffset</key>
                        <string>{92,348}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{643,1},{363,443}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0002.png</string>
                        <key>spriteOffset</key>
                        <string>{277,677}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1008,1},{13,16}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0001.png</string>
                        <key>spriteOffset</key>
                        <string>{285,679}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1008,19},{13,16}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{258,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1008,181},{294,155}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{259,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1008,338},{294,154}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{296,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{643,446},{348,146}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0004.png</string>
                        <key>spriteOffset</key>
                        <string>{278,688}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1258,121},{27,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0003.png</string>
                        <key>spriteOffset</key>
                        <string>{269,694}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1258,146},{17,18}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{301,662}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{643,594},{193,393}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0007.png</string>
                        <key>spriteOffset</key>
                        <string>{245,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{643,989},{300,137}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{306,662}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{838,594},{188,393}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0002.png</string>
                        <key>spriteOffset</key>
                        <string>{244,635}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{993,494},{85,95}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0008.png</string>
                        <key>spriteOffset</key>
                        <string>{245,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{945,989},{300,137}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{308,662}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1028,593},{186,393}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{312,662}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1216,593},{182,393}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0003.png</string>
                        <key>spriteOffset</key>
                        <string>{234,649}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1080,494},{101,91}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{259,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1304,430},{294,154}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0001.png</string>
                        <key>spriteOffset</key>
                        <string>{256,638}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1183,494},{81,89}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{304,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1600,430},{175,341}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{304,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1400,586},{175,341}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{304,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1777,593},{175,341}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{259,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1577,773},{154,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{259,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1400,929},{154,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{246,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1247,988},{135,301}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{259,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1023,1128},{154,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{246,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1023,1424},{135,301}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0007.png</string>
                        <key>spriteOffset</key>
                        <string>{246,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1160,1424},{135,301}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1179,1291},{300,131}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0008.png</string>
                        <key>spriteOffset</key>
                        <string>{246,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1297,1424},{135,301}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{260,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1305,1727},{294,152}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{251,571}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1434,1424},{130,301}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1556,1069},{131,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1689,1069},{300,131}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0007.png</string>
                        <key>spriteOffset</key>
                        <string>{272,417}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1733,936},{112,122}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0006.png</string>
                        <key>spriteOffset</key>
                        <string>{267,583}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1847,936},{111,122}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0007.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1689,1202},{300,131}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0008.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1689,1335},{300,131}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0010.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1689,1335},{300,131}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0005.png</string>
                        <key>spriteOffset</key>
                        <string>{263,610}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1566,1371},{115,102}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0009.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1683,1468},{300,131}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0004.png</string>
                        <key>spriteOffset</key>
                        <string>{244,644}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1566,1475},{105,99}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1601,1601},{131,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>HappyFlyReggy1.png</string>
                        <key>spriteOffset</key>
                        <string>{238,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1734,1601},{130,296}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>HappyFlyReggy2.png</string>
                        <key>spriteOffset</key>
                        <string>{238,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1866,1601},{130,296}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
