<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd78451204bbfc876dcec5735a94258f:a386af57c92ad44abb0c5e90520ef143:26ba8c55e9e0904f2dacda44a864213a$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>CloudSprites-736.1.png</string>
                <key>size</key>
                <string>{4552,1738}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Clouds.png</string>
                        <key>spriteOffset</key>
                        <string>{0,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{4550,1740}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{4550,1736}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
