<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281adf396bfaf57a7dd295815359fade:43e6970d45e62c3ad5cff00daf2410ce:aab1a477b41ec480c617eff6ed7f175e$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesTwo-667.1.png</string>
                <key>size</key>
                <string>{1440,501}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0045.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{171,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0053.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,113},{170,111}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0054.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{174,1},{171,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0031.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,226},{170,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0033.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{173,113},{170,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0058.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{347,1},{170,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0030.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,338},{170,109}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0055.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{173,225},{170,109}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0057.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{345,113},{170,109}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0032.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{519,1},{170,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0052.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{173,336},{170,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{151,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{173,446},{171,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0056.png</string>
                        <key>spriteOffset</key>
                        <string>{151,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{691,1},{168,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0028.png</string>
                        <key>spriteOffset</key>
                        <string>{151,361}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{345,224},{170,98}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0029.png</string>
                        <key>spriteOffset</key>
                        <string>{151,361}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{861,1},{168,97}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0044.png</string>
                        <key>spriteOffset</key>
                        <string>{151,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{345,324},{170,89}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0040.png</string>
                        <key>spriteOffset</key>
                        <string>{151,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1031,1},{170,88}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0042.png</string>
                        <key>spriteOffset</key>
                        <string>{151,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1203,1},{170,88}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{151,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{346,415},{170,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{151,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{861,100},{170,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0041.png</string>
                        <key>spriteOffset</key>
                        <string>{151,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1033,91},{170,86}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0043.png</string>
                        <key>spriteOffset</key>
                        <string>{151,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1205,91},{170,86}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{151,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{519,111},{170,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0020.png</string>
                        <key>spriteOffset</key>
                        <string>{151,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{691,111},{168,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0019.png</string>
                        <key>spriteOffset</key>
                        <string>{151,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{517,168},{170,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0035.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{517,223},{108,111}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0062.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{627,223},{108,111}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0036.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{737,165},{109,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0037.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{737,277},{109,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0022.png</string>
                        <key>spriteOffset</key>
                        <string>{225,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{517,336},{96,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0060.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{518,392},{110,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0051.png</string>
                        <key>spriteOffset</key>
                        <string>{216,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{630,336},{105,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0023.png</string>
                        <key>spriteOffset</key>
                        <string>{225,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{630,448},{96,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0039.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{737,387},{109,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0049.png</string>
                        <key>spriteOffset</key>
                        <string>{220,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{848,165},{101,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0046.png</string>
                        <key>spriteOffset</key>
                        <string>{220,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{848,277},{101,109}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0034.png</string>
                        <key>spriteOffset</key>
                        <string>{215,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{848,388},{106,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0024.png</string>
                        <key>spriteOffset</key>
                        <string>{225,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{951,154},{54,96}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0048.png</string>
                        <key>spriteOffset</key>
                        <string>{220,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{951,252},{101,109}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0038.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{956,363},{106,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0059.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1054,179},{108,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0061.png</string>
                        <key>spriteOffset</key>
                        <string>{213,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1164,179},{108,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0050.png</string>
                        <key>spriteOffset</key>
                        <string>{216,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1274,179},{105,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0021.png</string>
                        <key>spriteOffset</key>
                        <string>{225,406}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1054,289},{96,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0047.png</string>
                        <key>spriteOffset</key>
                        <string>{220,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1064,344},{99,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0026.png</string>
                        <key>spriteOffset</key>
                        <string>{216,361}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1165,289},{105,100}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0027.png</string>
                        <key>spriteOffset</key>
                        <string>{216,361}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1272,289},{106,99}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0025.png</string>
                        <key>spriteOffset</key>
                        <string>{216,361}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1165,391},{105,98}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{265,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1375,1},{56,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{267,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1272,390},{55,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{268,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1272,447},{56,53}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{264,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1329,390},{54,55}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{266,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1330,447},{55,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{264,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1385,58},{54,55}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{264,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1385,115},{54,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{268,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1385,171},{54,53}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{268,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1385,226},{54,53}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{267,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,449},{52,48}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{268,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1381,281},{55,53}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{271,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{346,472},{29,25}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{268,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1385,336},{53,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{266,405}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1385,391},{53,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
