<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a583fd4c698967272348328e6b27c5b4:0d331a1ef0b46c134e1b9f871eb9f9ac:e76b62f69b4ce277587ced2fa6c54e02$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ReggyWaveSprites-736.1.png</string>
                <key>size</key>
                <string>{2718,2028}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H1.png</string>
                        <key>spriteOffset</key>
                        <string>{425,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{374,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H2.png</string>
                        <key>spriteOffset</key>
                        <string>{428,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,562},{369,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H3.png</string>
                        <key>spriteOffset</key>
                        <string>{430,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{377,1},{364,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H4.png</string>
                        <key>spriteOffset</key>
                        <string>{433,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,1123},{359,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H7.png</string>
                        <key>spriteOffset</key>
                        <string>{441,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,1684},{559,343}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H5.png</string>
                        <key>spriteOffset</key>
                        <string>{435,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{743,1},{354,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H6.png</string>
                        <key>spriteOffset</key>
                        <string>{438,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{372,562},{349,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H8.png</string>
                        <key>spriteOffset</key>
                        <string>{443,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{362,1123},{338,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H34.png</string>
                        <key>spriteOffset</key>
                        <string>{440,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{562,1684},{557,343}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H9.png</string>
                        <key>spriteOffset</key>
                        <string>{446,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{702,1123},{332,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H10.png</string>
                        <key>spriteOffset</key>
                        <string>{449,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{723,562},{326,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H33.png</string>
                        <key>spriteOffset</key>
                        <string>{443,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1099,1},{338,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H11.png</string>
                        <key>spriteOffset</key>
                        <string>{452,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1439,1},{559,321}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H12.png</string>
                        <key>spriteOffset</key>
                        <string>{455,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{2000,1},{559,314}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H13.png</string>
                        <key>spriteOffset</key>
                        <string>{458,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1439,324},{559,308}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H32.png</string>
                        <key>spriteOffset</key>
                        <string>{457,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{2000,317},{557,311}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H14.png</string>
                        <key>spriteOffset</key>
                        <string>{461,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1036,1123},{302,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H15.png</string>
                        <key>spriteOffset</key>
                        <string>{463,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1051,562},{297,559}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H16.png</string>
                        <key>spriteOffset</key>
                        <string>{466,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1350,634},{559,291}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H17.png</string>
                        <key>spriteOffset</key>
                        <string>{469,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1350,927},{559,284}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H18.png</string>
                        <key>spriteOffset</key>
                        <string>{472,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1340,1213},{559,278}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H19.png</string>
                        <key>spriteOffset</key>
                        <string>{472,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1340,1213},{559,278}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H20.png</string>
                        <key>spriteOffset</key>
                        <string>{472,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1340,1213},{559,278}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H21.png</string>
                        <key>spriteOffset</key>
                        <string>{472,1113}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1340,1213},{559,278}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H22.png</string>
                        <key>spriteOffset</key>
                        <string>{481,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1340,1493},{557,264}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H31.png</string>
                        <key>spriteOffset</key>
                        <string>{481,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1340,1493},{557,264}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H23.png</string>
                        <key>spriteOffset</key>
                        <string>{481,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1911,634},{264,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H24.png</string>
                        <key>spriteOffset</key>
                        <string>{481,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{2177,630},{264,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H25.png</string>
                        <key>spriteOffset</key>
                        <string>{481,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{2443,630},{264,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H26.png</string>
                        <key>spriteOffset</key>
                        <string>{481,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1121,1759},{557,264}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H27.png</string>
                        <key>spriteOffset</key>
                        <string>{481,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1680,1759},{557,264}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H28.png</string>
                        <key>spriteOffset</key>
                        <string>{482,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1911,1193},{557,262}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H29.png</string>
                        <key>spriteOffset</key>
                        <string>{482,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1901,1457},{557,262}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>H30.png</string>
                        <key>spriteOffset</key>
                        <string>{484,1108}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{2460,1457},{257,557}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
