<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c04f40d6fd6fb7bd5dbf6227f51278:34c0e5403b302c3f585bb44464696e42:4fa4f9d61554cc731af80e21214f0d35$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>MainMenuSprites-667.1.png</string>
                <key>size</key>
                <string>{2927,2030}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Filter.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{750,1334}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Title.png</string>
                        <key>spriteOffset</key>
                        <string>{80,918}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,1337},{416,637}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DailyChallengesText.png</string>
                        <key>spriteOffset</key>
                        <string>{128,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,1976},{519,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Title1.png</string>
                        <key>spriteOffset</key>
                        <string>{80,918}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{419,1337},{416,637}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>MainMenu.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{753,1},{750,1334}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Title2.png</string>
                        <key>spriteOffset</key>
                        <string>{80,918}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{837,1337},{416,637}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Title3.png</string>
                        <key>spriteOffset</key>
                        <string>{80,918}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1255,1337},{416,637}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Stars.png</string>
                        <key>spriteOffset</key>
                        <string>{6,494}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1673,1},{835,742}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Bushes.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1505,1},{165,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Title4.png</string>
                        <key>spriteOffset</key>
                        <string>{80,918}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{2510,1},{416,637}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Title5.png</string>
                        <key>spriteOffset</key>
                        <string>{80,918}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{2510,640},{416,637}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DayAndNight.png</string>
                        <key>spriteOffset</key>
                        <string>{0,517}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1673,1279},{817,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DailyChallengesBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{2492,1279},{66,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DailyChallengesBorder.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{2560,1279},{66,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Planets.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1164}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1505,753},{159,199}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Factory.png</string>
                        <key>spriteOffset</key>
                        <string>{118,88}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1666,753},{801,515}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FactoryShadow.png</string>
                        <key>spriteOffset</key>
                        <string>{103,58}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{2628,1279},{146,542}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
