<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c55de03de742bdcf02a5b91c6b31761d:d9f1f6ac9bf8584fc494c4b44b61c0ea:04217294bfa9815971b2d50d2bbb142f$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesThree-736.1.png</string>
                <key>size</key>
                <string>{1968,774}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{408,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{411,1},{408,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{821,1},{408,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1231,1},{408,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0040.png</string>
                        <key>spriteOffset</key>
                        <string>{91,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1641,1},{323,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,87},{408,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{411,87},{408,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{821,87},{413,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1236,87},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0042.png</string>
                        <key>spriteOffset</key>
                        <string>{102,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1652,87},{312,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,173},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{417,173},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{833,173},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1249,173},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0044.png</string>
                        <key>spriteOffset</key>
                        <string>{112,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1665,173},{302,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,259},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{417,259},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{833,259},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1249,259},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0045.png</string>
                        <key>spriteOffset</key>
                        <string>{118,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1665,259},{296,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,345},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{417,345},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0019.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{833,345},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0020.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1249,345},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0046.png</string>
                        <key>spriteOffset</key>
                        <string>{123,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1665,345},{291,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0021.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0022.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{417,431},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0023.png</string>
                        <key>spriteOffset</key>
                        <string>{0,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{833,431},{414,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0024.png</string>
                        <key>spriteOffset</key>
                        <string>{5,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1249,431},{409,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0043.png</string>
                        <key>spriteOffset</key>
                        <string>{107,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1660,431},{307,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0025.png</string>
                        <key>spriteOffset</key>
                        <string>{11,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,517},{403,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0026.png</string>
                        <key>spriteOffset</key>
                        <string>{16,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{406,517},{398,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0027.png</string>
                        <key>spriteOffset</key>
                        <string>{21,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{806,517},{393,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0028.png</string>
                        <key>spriteOffset</key>
                        <string>{27,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1201,517},{387,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0030.png</string>
                        <key>spriteOffset</key>
                        <string>{37,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1590,517},{377,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0029.png</string>
                        <key>spriteOffset</key>
                        <string>{32,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,603},{382,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0031.png</string>
                        <key>spriteOffset</key>
                        <string>{43,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{385,603},{371,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0032.png</string>
                        <key>spriteOffset</key>
                        <string>{48,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{758,603},{366,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0033.png</string>
                        <key>spriteOffset</key>
                        <string>{53,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1126,603},{361,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0035.png</string>
                        <key>spriteOffset</key>
                        <string>{64,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1489,603},{350,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0036.png</string>
                        <key>spriteOffset</key>
                        <string>{70,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1,689},{344,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0037.png</string>
                        <key>spriteOffset</key>
                        <string>{75,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{347,689},{339,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0038.png</string>
                        <key>spriteOffset</key>
                        <string>{80,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{688,689},{334,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0039.png</string>
                        <key>spriteOffset</key>
                        <string>{86,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1024,689},{328,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0041.png</string>
                        <key>spriteOffset</key>
                        <string>{96,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1354,689},{318,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0047.png</string>
                        <key>spriteOffset</key>
                        <string>{129,522}</string>
                        <key>spriteSourceSize</key>
                        <string>{414,736}</string>
                        <key>textureRect</key>
                        <string>{{1674,689},{285,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
