<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3212e89555d021594977ed7efc96ebe:fe0f856cef982ee64f6026ef0df05be6:ba7d7b90833eda4cc74b3a6afbe1539e$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ConfettiAnimSprites3-667.1.png</string>
                <key>size</key>
                <string>{3749,2446}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,2460}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{750,2444}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,2460}</string>
                        <key>textureRect</key>
                        <string>{{753,1},{739,2434}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,2460}</string>
                        <key>textureRect</key>
                        <string>{{1494,1},{750,2413}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,13}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,2460}</string>
                        <key>textureRect</key>
                        <string>{{2246,1},{750,2400}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,29}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,2460}</string>
                        <key>textureRect</key>
                        <string>{{2998,1},{750,2388}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
