<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ca54a0ee17e3ab5edf21d11219efd6:b0b0307516c14e31b47534eee75488d3:09473e560c6462d838c51f3aa6fc1498$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ConfettiAnimSprites3.1.png</string>
                <key>size</key>
                <string>{3182,1995}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2000}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{640,1993}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,64}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2000}</string>
                        <key>textureRect</key>
                        <string>{{643,1},{637,1929}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti3.png</string>
                        <key>spriteOffset</key>
                        <string>{8,66}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2000}</string>
                        <key>textureRect</key>
                        <string>{{1282,1},{632,1917}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti4.png</string>
                        <key>spriteOffset</key>
                        <string>{10,69}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2000}</string>
                        <key>textureRect</key>
                        <string>{{1916,1},{630,1909}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSilverConfetti5.png</string>
                        <key>spriteOffset</key>
                        <string>{7,66}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,2000}</string>
                        <key>textureRect</key>
                        <string>{{2548,1},{633,1908}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
