<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0d236ba6f82302c3afc9ed6bbd04497:cf8b2f0b66d8e67be0bedc79e6c9a802:307413bf6f4fd7735374f5b9a49b72f5$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ReggyFoodFallSprites-667.1.png</string>
                <key>size</key>
                <string>{7625,960}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodWaterfall.png</string>
                        <key>spriteOffset</key>
                        <string>{67,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{1059,4605}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{4548,958}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I27.png</string>
                        <key>spriteOffset</key>
                        <string>{279,658}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4551,1},{172,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I35.png</string>
                        <key>spriteOffset</key>
                        <string>{278,658}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4551,362},{173,355}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I36.png</string>
                        <key>spriteOffset</key>
                        <string>{227,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4551,719},{342,234}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I22.png</string>
                        <key>spriteOffset</key>
                        <string>{253,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4725,1},{218,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I46.png</string>
                        <key>spriteOffset</key>
                        <string>{272,660}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4726,352},{189,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I31.png</string>
                        <key>spriteOffset</key>
                        <string>{279,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4895,703},{344,233}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I45.png</string>
                        <key>spriteOffset</key>
                        <string>{281,660}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4917,352},{168,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I23.png</string>
                        <key>spriteOffset</key>
                        <string>{229,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{4945,1},{230,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I24.png</string>
                        <key>spriteOffset</key>
                        <string>{276,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5087,351},{169,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I25.png</string>
                        <key>spriteOffset</key>
                        <string>{280,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5177,1},{178,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I39.png</string>
                        <key>spriteOffset</key>
                        <string>{279,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5241,701},{341,233}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I26.png</string>
                        <key>spriteOffset</key>
                        <string>{288,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5258,350},{162,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I1.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5357,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I10.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5422,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I11.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5503,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I12.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5568,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I13.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5649,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I28.png</string>
                        <key>spriteOffset</key>
                        <string>{228,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5584,699},{346,232}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I14.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5714,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I15.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5795,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I16.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5860,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I17.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5941,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I38.png</string>
                        <key>spriteOffset</key>
                        <string>{251,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{5932,699},{341,223}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I18.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6006,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I19.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6087,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I2.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6152,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I20.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6233,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I33.png</string>
                        <key>spriteOffset</key>
                        <string>{279,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6275,699},{343,180}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I21.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6298,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I3.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6379,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I4.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6444,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I5.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6525,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I6.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6590,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I7.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6671,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I41.png</string>
                        <key>spriteOffset</key>
                        <string>{279,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6620,699},{339,179}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I8.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6736,350},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I9.png</string>
                        <key>spriteOffset</key>
                        <string>{298,672}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6817,1},{144,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I29.png</string>
                        <key>spriteOffset</key>
                        <string>{288,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6882,350},{162,346}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I30.png</string>
                        <key>spriteOffset</key>
                        <string>{288,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6963,1},{162,345}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I43.png</string>
                        <key>spriteOffset</key>
                        <string>{280,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{6961,698},{338,178}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I32.png</string>
                        <key>spriteOffset</key>
                        <string>{275,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{7046,348},{171,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I34.png</string>
                        <key>spriteOffset</key>
                        <string>{287,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{7127,1},{164,343}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I37.png</string>
                        <key>spriteOffset</key>
                        <string>{288,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{7219,346},{162,341}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I40.png</string>
                        <key>spriteOffset</key>
                        <string>{275,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{7293,1},{171,340}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I44.png</string>
                        <key>spriteOffset</key>
                        <string>{290,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{7466,1},{158,338}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>I42.png</string>
                        <key>spriteOffset</key>
                        <string>{289,671}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{7383,343},{161,339}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
