<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:388bee700f082c0df5af40c5bb7757ef:fd88b6e9bf24fedf9e29fcd516a1dbf9:2c9de6470cf37adeabf3142aed6a9b11$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesNine-667.1.png</string>
                <key>size</key>
                <string>{512,1730}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{100,579}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{160,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{100,585}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{163,1},{167,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{85,582}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,37},{196,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{82,538}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{199,37},{209,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{82,539}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{410,1},{97,209}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{33,485}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,135},{342,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{34,486}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,216},{341,93}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{11,487}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,311},{364,100}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{3,490}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,413},{372,104}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{7,492}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{375,212},{117,368}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{3,489}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,519},{372,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{3,489}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,633},{372,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{5,490}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,747},{370,114}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{6,489}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{375,582},{118,369}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{4,489}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,863},{371,117}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{5,490}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,982},{370,118}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{5,488}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,1102},{370,122}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{6,486}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{374,953},{126,369}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{4,491}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,1226},{371,123}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{4,488}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,1351},{371,124}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{6,489}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,1477},{369,124}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{5,473}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{374,1324},{137,370}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{5,489}</string>
                        <key>spriteSourceSize</key>
                        <string>{375,667}</string>
                        <key>textureRect</key>
                        <string>{{1,1603},{370,126}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
