<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67004c37d06de93bef23ae357b22f9cd:399a5b7695b3de99958d2ec599edce01:4dd77b9921d2d76c611eecfcecf1f9c8$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesThree.1.png</string>
                <key>size</key>
                <string>{2026,406}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{319,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{322,1},{319,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{643,1},{319,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{964,1},{319,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1285,1},{319,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1606,1},{319,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,59},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{323,59},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{645,59},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{967,59},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1289,59},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1611,59},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,117},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{323,117},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{645,117},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{967,117},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1289,117},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1611,117},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0047.png</string>
                        <key>spriteOffset</key>
                        <string>{102,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1933,1},{56,218}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0019.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,175},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0020.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{323,175},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0021.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{645,175},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0022.png</string>
                        <key>spriteOffset</key>
                        <string>{0,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{967,175},{320,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0023.png</string>
                        <key>spriteOffset</key>
                        <string>{3,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1289,175},{317,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0024.png</string>
                        <key>spriteOffset</key>
                        <string>{7,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1608,175},{313,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0025.png</string>
                        <key>spriteOffset</key>
                        <string>{11,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,233},{309,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0026.png</string>
                        <key>spriteOffset</key>
                        <string>{15,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{312,233},{305,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0027.png</string>
                        <key>spriteOffset</key>
                        <string>{20,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{619,233},{300,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0028.png</string>
                        <key>spriteOffset</key>
                        <string>{24,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{921,233},{296,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0029.png</string>
                        <key>spriteOffset</key>
                        <string>{28,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1219,233},{292,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0030.png</string>
                        <key>spriteOffset</key>
                        <string>{32,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1513,233},{288,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0046.png</string>
                        <key>spriteOffset</key>
                        <string>{98,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1803,233},{222,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0031.png</string>
                        <key>spriteOffset</key>
                        <string>{36,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,291},{284,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0032.png</string>
                        <key>spriteOffset</key>
                        <string>{40,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{287,291},{280,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0033.png</string>
                        <key>spriteOffset</key>
                        <string>{44,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{569,291},{276,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0034.png</string>
                        <key>spriteOffset</key>
                        <string>{49,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{847,291},{271,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0035.png</string>
                        <key>spriteOffset</key>
                        <string>{53,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1120,291},{267,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0036.png</string>
                        <key>spriteOffset</key>
                        <string>{57,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1389,291},{263,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0037.png</string>
                        <key>spriteOffset</key>
                        <string>{61,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1654,291},{259,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0038.png</string>
                        <key>spriteOffset</key>
                        <string>{65,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,349},{255,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0039.png</string>
                        <key>spriteOffset</key>
                        <string>{69,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{258,349},{251,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0040.png</string>
                        <key>spriteOffset</key>
                        <string>{73,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{511,349},{247,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0041.png</string>
                        <key>spriteOffset</key>
                        <string>{78,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{760,349},{242,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0042.png</string>
                        <key>spriteOffset</key>
                        <string>{82,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1004,349},{238,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0043.png</string>
                        <key>spriteOffset</key>
                        <string>{86,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1244,349},{234,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0044.png</string>
                        <key>spriteOffset</key>
                        <string>{90,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1480,349},{230,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneCloudsAnim0045.png</string>
                        <key>spriteOffset</key>
                        <string>{94,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1712,349},{226,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
