<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ec2af62719d0d80aec646253fe723cf:aa7e1afc0c561c840eaa12447300b410:d35771ff52585ce9a4006f1264838f5d$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesNine-736.1.png</string>
                <key>size</key>
                <string>{1949,1217}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{10,784}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{611,225}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{8,812}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,228},{204,613}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{11,805}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{614,1},{610,207}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{8,808}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{207,228},{204,613}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{10,810}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1226,1},{611,206}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{9,810}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{413,228},{199,612}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{10,810}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{614,210},{204,611}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{9,812}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{820,210},{193,612}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{11,810}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1015,210},{194,610}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{5,811}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1211,210},{172,616}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{7,811}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1385,209},{191,614}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{11,815}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1578,209},{192,610}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{19,807}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1772,209},{163,602}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{9,812}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,843},{612,187}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{6,810}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1,1032},{615,184}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{58,806}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1385,825},{563,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{56,804}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{615,824},{565,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{7,811}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{618,954},{614,183}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{142,965}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{618,1139},{322,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{138,890}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1234,978},{343,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{138,893}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1579,978},{343,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{167,969}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{942,1139},{273,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{167,959}</string>
                        <key>spriteSourceSize</key>
                        <string>{621,1104}</string>
                        <key>textureRect</key>
                        <string>{{1234,1138},{263,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
