<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22eb0fe404ed5a5c896501884013d3f8:8259c2ee7a309b7fdd1c179ed188ac6d:30137af2445ba9cb00ad747d10d3267c$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ConfettiAnimSprites4-736.1.png</string>
                <key>size</key>
                <string>{12824,2457}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneGoldConfetti2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,42}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{4320,1202}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneGoldConfetti4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,92}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{4323,1},{4239,1223}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneGoldConfetti5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,64}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{8564,1},{4259,1226}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneGoldConfetti3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{1,1205},{4282,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneGoldConfetti1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,42}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,4419}</string>
                        <key>textureRect</key>
                        <string>{{4285,1229},{4338,1227}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
