<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aac5ffe3c32f96dcae04408b69600ec3:180c68d3e65f570619f35f72cc66f2d6:20e8148b36aea2eb1b4fd5de4d873008$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesNine.1.png</string>
                <key>size</key>
                <string>{494,1118}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{4,340}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{316,99}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{4,351}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,102},{316,92}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{4,352}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,196},{316,91}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{5,349}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,289},{315,92}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{4,351}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,383},{90,316}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{5,351}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{93,383},{91,315}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{4,351}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,701},{88,316}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{5,351}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{186,383},{86,315}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{4,353}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{319,1},{85,316}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{3,352}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{406,1},{84,317}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{2,352}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{274,383},{76,318}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{3,352}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{91,701},{80,317}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{5,354}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{173,700},{85,315}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{4,353}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{260,703},{82,316}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{2,352}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{344,703},{81,318}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{29,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{427,320},{66,291}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{9,350}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{352,320},{73,311}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{28,349}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{427,613},{57,292}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{70,387}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1020},{179,70}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{85,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1092},{137,25}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{72,418}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{427,907},{33,168}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{85,420}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{462,907},{26,142}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{70,388}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{182,1023},{179,70}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
