<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.0b1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e84f6114be59370295336fb86e55c4ef:da81022a46de6219688cf511b5f835f6:59f6b919936d5345bb37a4be2ae1d011$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>MIscSprites.1@2x.png</string>
                <key>size</key>
                <string>{3290,1504}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BossBattleRumleMatter@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,-11}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,3288}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{3288,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FrozenScreen@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1334}</string>
                        <key>textureRect</key>
                        <string>{{1,753},{1334,750}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BatRadius@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{93,-322}</string>
                        <key>spriteSourceSize</key>
                        <string>{585,400}</string>
                        <key>textureRect</key>
                        <string>{{1337,753},{400,585}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EatRadius@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{303,-298}</string>
                        <key>spriteSourceSize</key>
                        <string>{133,76}</string>
                        <key>textureRect</key>
                        <string>{{1337,1340},{76,133}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
