<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:225258de68c5a80d6c9cf4d96f4561b8:e776b347cef4a3d71fbcaafac3782311:2312b1e9a79743dd7eeb2604f5940203$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesTwo.1.png</string>
                <key>size</key>
                <string>{242,1817}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0045.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{147,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0034.png</string>
                        <key>spriteOffset</key>
                        <string>{183,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{150,1},{91,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0038.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{150,81},{91,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0054.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,82},{147,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0027.png</string>
                        <key>spriteOffset</key>
                        <string>{184,259}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{150,161},{91,72}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{128,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,163},{147,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0053.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,205},{146,80}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0035.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,235},{92,80}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0030.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,287},{146,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0062.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,317},{92,80}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0031.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,368},{146,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0039.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,399},{92,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0033.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,449},{146,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0060.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,480},{92,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0057.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,530},{146,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0037.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,561},{92,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0058.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,611},{146,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0059.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,641},{92,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0032.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,692},{146,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0061.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,721},{92,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0052.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,772},{146,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0051.png</string>
                        <key>spriteOffset</key>
                        <string>{184,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,801},{90,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0055.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,852},{146,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0050.png</string>
                        <key>spriteOffset</key>
                        <string>{184,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,882},{90,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0028.png</string>
                        <key>spriteOffset</key>
                        <string>{128,259}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,932},{146,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0026.png</string>
                        <key>spriteOffset</key>
                        <string>{184,259}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,962},{90,73}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0044.png</string>
                        <key>spriteOffset</key>
                        <string>{128,267}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1005},{146,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0025.png</string>
                        <key>spriteOffset</key>
                        <string>{184,259}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,1037},{90,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0040.png</string>
                        <key>spriteOffset</key>
                        <string>{128,267}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1072},{146,64}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0048.png</string>
                        <key>spriteOffset</key>
                        <string>{187,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,1110},{87,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0042.png</string>
                        <key>spriteOffset</key>
                        <string>{128,267}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1138},{146,64}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0049.png</string>
                        <key>spriteOffset</key>
                        <string>{187,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,1191},{87,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0041.png</string>
                        <key>spriteOffset</key>
                        <string>{128,267}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1204},{146,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0043.png</string>
                        <key>spriteOffset</key>
                        <string>{128,267}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1269},{146,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0046.png</string>
                        <key>spriteOffset</key>
                        <string>{187,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,1272},{87,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{128,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1334},{146,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0047.png</string>
                        <key>spriteOffset</key>
                        <string>{187,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,1352},{86,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{128,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1377},{146,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{128,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1419},{146,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0021.png</string>
                        <key>spriteOffset</key>
                        <string>{192,292}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,1432},{82,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0019.png</string>
                        <key>spriteOffset</key>
                        <string>{128,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1460},{146,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0022.png</string>
                        <key>spriteOffset</key>
                        <string>{192,292}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{149,1473},{82,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0056.png</string>
                        <key>spriteOffset</key>
                        <string>{128,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1501},{145,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0036.png</string>
                        <key>spriteOffset</key>
                        <string>{182,252}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{148,1514},{93,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0029.png</string>
                        <key>spriteOffset</key>
                        <string>{128,259}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1581},{145,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0024.png</string>
                        <key>spriteOffset</key>
                        <string>{192,292}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{148,1595},{82,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0023.png</string>
                        <key>spriteOffset</key>
                        <string>{192,292}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{148,1636},{82,38}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0020.png</string>
                        <key>spriteOffset</key>
                        <string>{128,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1654},{145,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{226,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{148,1676},{48,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{228,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{198,1676},{42,38}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{229,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{198,1716},{41,45}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{227,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1763},{40,48}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{226,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1718},{47,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{231,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{1,1695},{25,19}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{226,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{43,1763},{40,47}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{228,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{50,1718},{46,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{227,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{98,1695},{47,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{225,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{147,1718},{46,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{228,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{98,1736},{46,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{227,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{85,1777},{46,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{229,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{133,1777},{45,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FGGameSceneBGAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{229,291}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,480}</string>
                        <key>textureRect</key>
                        <string>{{180,1763},{40,45}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
