<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17261dd0580d9dc8dddf61a0ac423115:3d287d54a37505b79ab2c444519f5e0c:71464426fa8e1914c2fa55a7fe82495c$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesEight-736.1.png</string>
                <key>size</key>
                <string>{7768,2186}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuFactoryBucksScene.png</string>
                        <key>spriteOffset</key>
                        <string>{185,322}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{1552,882}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuELBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{304,281}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1555,1},{1748,938}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuSRBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{303,281}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{3305,1},{1748,939}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuPMBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{302,281}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{5055,1},{1748,940}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuTRBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{280,281}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{6805,1},{962,1748}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuPDBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{256,281}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,941},{1879,986}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBlackScreen.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1882,942},{2208,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>FFGameScenePauseScene.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{4092,943},{2208,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
