<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6506ad6ca0a7d4b992e5b38e1831f8bf:6f9e3c3f79c1874971289abadda6d5b8:91fae51e3d9abfd5224dfa0af45f141b$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>CloudSprites-568.1.png</string>
                <key>size</key>
                <string>{2352,896}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Clouds.png</string>
                        <key>spriteOffset</key>
                        <string>{0,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{2350,900}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{2350,894}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
