<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f993c3f1810db41817a009dc665d324:d894af46213bcfd0f7fb1d0a4830405c:a6a74d79f7b6075f16376c0c5fed01fc$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ReggyAnimSprites.1.png</string>
                <key>size</key>
                <string>{1744,1831}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BrokenScreen.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{640,960}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggSplat.png</string>
                        <key>spriteOffset</key>
                        <string>{6,288}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,963},{634,473}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0009.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,1438},{640,392}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0008.png</string>
                        <key>spriteOffset</key>
                        <string>{16,151}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1},{562,374}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0007.png</string>
                        <key>spriteOffset</key>
                        <string>{93,287}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,377},{440,319}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{301,559}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1207,1},{192,337}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{306,559}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,698},{337,187}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{308,559}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1401,1},{185,337}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{312,559}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1085,377},{181,337}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{258,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1588,1},{154,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{258,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1268,340},{154,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{259,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1424,340},{153,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1268,596},{259,130}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,887},{259,130}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{259,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{637,1019},{153,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{259,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{792,1019},{153,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{259,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{637,1275},{254,153}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{259,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1430},{153,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CurtainPullReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{798,1430},{130,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{259,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{982,716},{254,153}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0002.png</string>
                        <key>spriteOffset</key>
                        <string>{260,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1238,728},{254,151}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0003.png</string>
                        <key>spriteOffset</key>
                        <string>{260,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{982,871},{254,151}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{260,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1238,881},{254,151}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0004.png</string>
                        <key>spriteOffset</key>
                        <string>{259,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{947,1024},{254,153}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{245,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1203,1034},{259,136}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{252,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{947,1179},{259,129}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{245,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1208,1172},{259,136}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{246,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1494,728},{135,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{246,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1579,340},{135,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0007.png</string>
                        <key>spriteOffset</key>
                        <string>{245,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{930,1310},{136,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0008.png</string>
                        <key>spriteOffset</key>
                        <string>{245,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1068,1310},{136,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0007.png</string>
                        <key>spriteOffset</key>
                        <string>{246,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1206,1310},{135,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>EggThrowReggy0008.png</string>
                        <key>spriteOffset</key>
                        <string>{246,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{930,1571},{135,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1067,1571},{130,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0005.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1199,1571},{130,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0006.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1331,1571},{130,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0007.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1343,1310},{130,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0008.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1463,1571},{130,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0010.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1463,1571},{130,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodBlowerReggy0009.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{643,1691},{259,130}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Curtain.png</string>
                        <key>spriteOffset</key>
                        <string>{197,467}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1494,989},{233,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RockThrowReggy0001.png</string>
                        <key>spriteOffset</key>
                        <string>{251,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1469,1142},{259,130}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>HappyFlyReggy1.png</string>
                        <key>spriteOffset</key>
                        <string>{239,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1475,1274},{128,255}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>HappyFlyReggy2.png</string>
                        <key>spriteOffset</key>
                        <string>{239,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1605,1274},{128,255}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0006.png</string>
                        <key>spriteOffset</key>
                        <string>{268,485}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1595,1531},{109,117}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0007.png</string>
                        <key>spriteOffset</key>
                        <string>{273,345}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1595,1650},{110,116}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0001.png</string>
                        <key>spriteOffset</key>
                        <string>{256,533}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1588,257},{87,79}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0005.png</string>
                        <key>spriteOffset</key>
                        <string>{264,508}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1529,601},{100,111}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0004.png</string>
                        <key>spriteOffset</key>
                        <string>{245,537}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1631,601},{97,102}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0003.png</string>
                        <key>spriteOffset</key>
                        <string>{235,542}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1631,705},{90,97}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0002.png</string>
                        <key>spriteOffset</key>
                        <string>{245,530}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1631,804},{83,93}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0006.png</string>
                        <key>spriteOffset</key>
                        <string>{300,529}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1207,340},{38,35}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Rock0008.png</string>
                        <key>spriteOffset</key>
                        <string>{307,260}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{904,887},{43,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0004.png</string>
                        <key>spriteOffset</key>
                        <string>{278,581}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1723,705},{20,27}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0005.png</string>
                        <key>spriteOffset</key>
                        <string>{296,552}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{893,1275},{29,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0003.png</string>
                        <key>spriteOffset</key>
                        <string>{269,586}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{982,698},{17,16}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0001.png</string>
                        <key>spriteOffset</key>
                        <string>{285,574}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1001,698},{11,16}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Egg0002.png</string>
                        <key>spriteOffset</key>
                        <string>{277,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{904,1691},{13,14}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
