<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:845ab0a86cbe709eff0d82c9f459d278:ae40483ec4f3100af05276a13cdc8816:a3171cca0d9b57a90df811d001fb7a33$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>VictoryPrizeSpritesTwo-736.1.png</string>
                <key>size</key>
                <string>{6299,2557}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenTopGold.png</string>
                        <key>spriteOffset</key>
                        <string>{71,166}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2752}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{2564,1129}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenMediumGold.png</string>
                        <key>spriteOffset</key>
                        <string>{0,174}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,3928}</string>
                        <key>textureRect</key>
                        <string>{{2567,1},{3731,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenBackGold.png</string>
                        <key>spriteOffset</key>
                        <string>{0,135}</string>
                        <key>spriteSourceSize</key>
                        <string>{1319,5000}</string>
                        <key>textureRect</key>
                        <string>{{1,1245},{4633,1311}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
