<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4162137c03c7d79124e23f17a8519af3:a91cc40065e4f3be3d3e8648130a9549:ded59b9580462cc05c7b823940ae0fa4$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesNine-568.1.png</string>
                <key>size</key>
                <string>{1235,512}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0010.png</string>
                        <key>spriteOffset</key>
                        <string>{4,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{316,117}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0017.png</string>
                        <key>spriteOffset</key>
                        <string>{4,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,120},{316,108}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0012.png</string>
                        <key>spriteOffset</key>
                        <string>{5,414}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{319,1},{315,107}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0013.png</string>
                        <key>spriteOffset</key>
                        <string>{4,415}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,230},{316,106}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0011.png</string>
                        <key>spriteOffset</key>
                        <string>{4,418}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{636,1},{316,105}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0015.png</string>
                        <key>spriteOffset</key>
                        <string>{5,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{319,110},{315,106}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0016.png</string>
                        <key>spriteOffset</key>
                        <string>{4,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,338},{316,104}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{28,413}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1,444},{292,67}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0008.png</string>
                        <key>spriteOffset</key>
                        <string>{4,417}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{636,108},{316,101}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0009.png</string>
                        <key>spriteOffset</key>
                        <string>{5,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{319,218},{315,101}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0007.png</string>
                        <key>spriteOffset</key>
                        <string>{3,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{636,211},{317,100}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0014.png</string>
                        <key>spriteOffset</key>
                        <string>{5,419}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{319,321},{315,100}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{3,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{636,313},{317,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{9,415}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{319,423},{311,85}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{2,417}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{636,411},{318,89}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0004.png</string>
                        <key>spriteOffset</key>
                        <string>{70,457}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{954,1},{179,83}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0006.png</string>
                        <key>spriteOffset</key>
                        <string>{2,416}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{955,86},{96,318}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0018.png</string>
                        <key>spriteOffset</key>
                        <string>{4,417}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1053,86},{97,316}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>SidePipeAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{29,414}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1152,1},{79,291}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0005.png</string>
                        <key>spriteOffset</key>
                        <string>{70,459}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{1152,294},{82,179}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0003.png</string>
                        <key>spriteOffset</key>
                        <string>{72,496}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{956,406},{168,38}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0002.png</string>
                        <key>spriteOffset</key>
                        <string>{85,498}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{956,446},{142,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FoodDropperAnim0001.png</string>
                        <key>spriteOffset</key>
                        <string>{85,493}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,568}</string>
                        <key>textureRect</key>
                        <string>{{956,477},{137,28}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
