<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9795deeef64cb23fbe5d1f9379a22141:4d416b4860de5b086489a31d7a3cc914:d272b06ae10069320b9846358db28535$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesSeven.1.png</string>
                <key>size</key>
                <string>{1783,1302}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneDragonFruitAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{328,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneEggPlantAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,643},{328,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneFOODAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{331,1},{328,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneFOVAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{331,643},{328,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneFVAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{661,1},{640,328}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneEndGameProjection.png</string>
                        <key>spriteOffset</key>
                        <string>{1,279}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1303,1},{461,632}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneHornedCucumberAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{661,331},{640,328}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePumpKinAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{661,661},{328,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneSowersopAmountMachine.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{991,661},{328,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneEndGameProjection1.png</string>
                        <key>spriteOffset</key>
                        <string>{1,279}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1321,635},{461,632}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
