<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74eabaf9cbf6514f40394e1c038516a1:3e9c7f21e30a44cf72e9c3600e670c7d:3021ea31dc578cc391e7c541490cc141$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>VictoryPrizeSpritesTwo-667.1.png</string>
                <key>size</key>
                <string>{1559,3497}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenTopGold.png</string>
                        <key>spriteOffset</key>
                        <string>{39,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{750,1573}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{1554,693}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenBackGold.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{780,2800}</string>
                        <key>textureRect</key>
                        <string>{{1,696},{780,2800}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenMediumGold.png</string>
                        <key>spriteOffset</key>
                        <string>{0,35}</string>
                        <key>spriteSourceSize</key>
                        <string>{780,2300}</string>
                        <key>textureRect</key>
                        <string>{{783,696},{775,2265}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
