<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4b90e62745eefe8cbf3e033dc8bd4c:d2631fe620b2b26a6ec5e57b5730eb95:7b39fc5c3a465acb30fc64ad24eb15e9$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LightningAttackSprites3.1.png</string>
                <key>size</key>
                <string>{2018,1466}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G25.png</string>
                        <key>spriteOffset</key>
                        <string>{11,420}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{477,561}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G26.png</string>
                        <key>spriteOffset</key>
                        <string>{37,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,564},{518,541}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G30.png</string>
                        <key>spriteOffset</key>
                        <string>{37,384}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1,1107},{518,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G29.png</string>
                        <key>spriteOffset</key>
                        <string>{11,442}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{480,1},{411,529}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G27.png</string>
                        <key>spriteOffset</key>
                        <string>{54,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{521,532},{467,487}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G24.png</string>
                        <key>spriteOffset</key>
                        <string>{102,419}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{521,1021},{470,419}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G31.png</string>
                        <key>spriteOffset</key>
                        <string>{54,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{893,1},{339,487}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G51.png</string>
                        <key>spriteOffset</key>
                        <string>{108,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{990,490},{264,401}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G28.png</string>
                        <key>spriteOffset</key>
                        <string>{115,419}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1234,1},{294,380}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G32.png</string>
                        <key>spriteOffset</key>
                        <string>{133,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1530,1},{316,266}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G35.png</string>
                        <key>spriteOffset</key>
                        <string>{228,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1848,1},{169,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G46.png</string>
                        <key>spriteOffset</key>
                        <string>{203,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1530,269},{278,220}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G44.png</string>
                        <key>spriteOffset</key>
                        <string>{208,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1256,383},{272,211}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G50.png</string>
                        <key>spriteOffset</key>
                        <string>{211,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1810,269},{205,268}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G45.png</string>
                        <key>spriteOffset</key>
                        <string>{204,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1530,491},{276,218}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G43.png</string>
                        <key>spriteOffset</key>
                        <string>{209,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1808,539},{208,270}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G49.png</string>
                        <key>spriteOffset</key>
                        <string>{209,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1256,596},{270,208}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G47.png</string>
                        <key>spriteOffset</key>
                        <string>{204,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1528,711},{276,218}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G42.png</string>
                        <key>spriteOffset</key>
                        <string>{212,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1256,806},{266,202}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G40.png</string>
                        <key>spriteOffset</key>
                        <string>{217,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{993,893},{260,192}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G41.png</string>
                        <key>spriteOffset</key>
                        <string>{214,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1806,811},{199,264}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G48.png</string>
                        <key>spriteOffset</key>
                        <string>{206,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1524,931},{274,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G33.png</string>
                        <key>spriteOffset</key>
                        <string>{171,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1255,1010},{259,226}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G39.png</string>
                        <key>spriteOffset</key>
                        <string>{220,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{993,1087},{259,186}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G34.png</string>
                        <key>spriteOffset</key>
                        <string>{209,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{993,1275},{259,184}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G38.png</string>
                        <key>spriteOffset</key>
                        <string>{222,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1800,1077},{183,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G37.png</string>
                        <key>spriteOffset</key>
                        <string>{225,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1516,1147},{259,177}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G36.png</string>
                        <key>spriteOffset</key>
                        <string>{227,483}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,960}</string>
                        <key>textureRect</key>
                        <string>{{1254,1238},{259,172}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
