<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3400b0507fc78de40ea5e886752e832c:10dc1b2b0ac3b8248681bb3ae6ec3113:e33bf8b6e794b1f4c548280720584b69$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>VictoryPrizeSpritesTwo.1.png</string>
                <key>size</key>
                <string>{1925,2033}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenBackGold.png</string>
                        <key>spriteOffset</key>
                        <string>{2,66}</string>
                        <key>spriteSourceSize</key>
                        <string>{687,2099}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{685,2031}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenMediumGold.png</string>
                        <key>spriteOffset</key>
                        <string>{0,95}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1730}</string>
                        <key>textureRect</key>
                        <string>{{688,1},{640,1635}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>VictoryPrizeScreenTopGold.png</string>
                        <key>spriteOffset</key>
                        <string>{32,47}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1187}</string>
                        <key>textureRect</key>
                        <string>{{1330,1},{594,1132}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
