<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3760bbf307c9516fa637b34786cac328:83377ea3e5f56a80b008aca6d35292bd:4ffb6007e096fe325007568a746da78b$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LoadingScreenSprites4-736.1.png</string>
                <key>size</key>
                <string>{14895,1244}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel27Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,92}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{1893,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel20Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{1896,1},{1892,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel21Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{3790,1},{1892,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel22Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{5684,1},{1892,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel25Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,70}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{7578,1},{1892,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel23Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,136}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{9472,1},{1806,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel24Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,133}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{11280,1},{1806,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>LoadingScreenLevel26Objectives.png</string>
                        <key>spriteOffset</key>
                        <string>{0,132}</string>
                        <key>spriteSourceSize</key>
                        <string>{1242,2208}</string>
                        <key>textureRect</key>
                        <string>{{13088,1},{1806,1242}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
