<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d090c2443fed6f6410222c64f73b2d91:9b7dfee99b03281b01093922833a4e63:c776ec44f5e17817564268573e4aea91$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LightningAttackSprites4-568.1.png</string>
                <key>size</key>
                <string>{1952,888}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G53.png</string>
                        <key>spriteOffset</key>
                        <string>{27,500}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{485,568}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G52.png</string>
                        <key>spriteOffset</key>
                        <string>{62,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,571},{500,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G54.png</string>
                        <key>spriteOffset</key>
                        <string>{27,500}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{488,1},{485,568}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg11.png</string>
                        <key>spriteOffset</key>
                        <string>{199,556}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{503,571},{226,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg13.png</string>
                        <key>spriteOffset</key>
                        <string>{199,556}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{503,571},{226,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg3.png</string>
                        <key>spriteOffset</key>
                        <string>{199,556}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{503,571},{226,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg5.png</string>
                        <key>spriteOffset</key>
                        <string>{199,556}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{503,571},{226,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg7.png</string>
                        <key>spriteOffset</key>
                        <string>{199,556}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{503,571},{226,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg9.png</string>
                        <key>spriteOffset</key>
                        <string>{199,556}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{731,571},{226,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg1.png</string>
                        <key>spriteOffset</key>
                        <string>{165,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{959,571},{298,311}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G55.png</string>
                        <key>spriteOffset</key>
                        <string>{27,500}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{975,1},{485,568}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg2.png</string>
                        <key>spriteOffset</key>
                        <string>{199,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1259,571},{227,311}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg10.png</string>
                        <key>spriteOffset</key>
                        <string>{182,532}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1488,1},{347,263}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg12.png</string>
                        <key>spriteOffset</key>
                        <string>{182,532}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1488,1},{347,263}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg14.png</string>
                        <key>spriteOffset</key>
                        <string>{182,532}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1488,1},{347,263}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg4.png</string>
                        <key>spriteOffset</key>
                        <string>{182,532}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1488,1},{347,263}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg6.png</string>
                        <key>spriteOffset</key>
                        <string>{182,532}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1488,1},{347,263}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg8.png</string>
                        <key>spriteOffset</key>
                        <string>{182,532}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1488,1},{347,263}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg16.png</string>
                        <key>spriteOffset</key>
                        <string>{165,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1462,266},{298,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>G56.png</string>
                        <key>spriteOffset</key>
                        <string>{217,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1762,266},{189,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg15.png</string>
                        <key>spriteOffset</key>
                        <string>{199,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1488,568},{226,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gg17.png</string>
                        <key>spriteOffset</key>
                        <string>{217,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1716,568},{189,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
