<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:583e72ca2a150b7c6b3f8674ad5f48ae:580b0e2650a4b77f8b37dbb71804ba70:7038d9da346f9a28967d6e46adc149b2$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSceneSpritesEight-568.1.png</string>
                <key>size</key>
                <string>{2626,1987}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameSceneBlackScreen.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{640,1136}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuFactoryBucksScene.png</string>
                        <key>spriteOffset</key>
                        <string>{76,138}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1139},{500,847}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuTRBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{503,1139},{1136,640}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>FFGameScenePauseScene.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{643,1},{640,1136}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuPDBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{146,121}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1285,1},{494,991}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuELBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{149,121}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1641,994},{491,943}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuPMBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{149,121}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1781,1},{491,943}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>FFGameScenePauseMenuSRBoard.png</string>
                        <key>spriteOffset</key>
                        <string>{149,121}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{2134,946},{491,943}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
