<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950d18f00201da6ae2ce11ba1da01dc4:3ed2a02d03bb053869506ef08c86e550:6e524c6dff7e9603119eb900a2ff5152$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ReggyBatPull-568.1.png</string>
                <key>size</key>
                <string>{1299,906}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F17.png</string>
                        <key>spriteOffset</key>
                        <string>{197,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{235,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F18.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,303},{217,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F19.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1,605},{217,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F20.png</string>
                        <key>spriteOffset</key>
                        <string>{251,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{238,1},{217,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F8.png</string>
                        <key>spriteOffset</key>
                        <string>{181,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{220,303},{198,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F7.png</string>
                        <key>spriteOffset</key>
                        <string>{185,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{220,605},{194,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F9.png</string>
                        <key>spriteOffset</key>
                        <string>{185,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{416,605},{194,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F10.png</string>
                        <key>spriteOffset</key>
                        <string>{189,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{420,303},{190,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F6.png</string>
                        <key>spriteOffset</key>
                        <string>{189,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{457,1},{190,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F3.png</string>
                        <key>spriteOffset</key>
                        <string>{214,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{649,1},{195,293}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F11.png</string>
                        <key>spriteOffset</key>
                        <string>{193,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{846,1},{300,186}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F12.png</string>
                        <key>spriteOffset</key>
                        <string>{197,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{846,189},{300,182}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F1.png</string>
                        <key>spriteOffset</key>
                        <string>{259,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1148,1},{150,293}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F13.png</string>
                        <key>spriteOffset</key>
                        <string>{203,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{612,303},{176,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F5.png</string>
                        <key>spriteOffset</key>
                        <string>{193,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{612,605},{186,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F4.png</string>
                        <key>spriteOffset</key>
                        <string>{197,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{790,373},{300,182}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F14.png</string>
                        <key>spriteOffset</key>
                        <string>{209,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{800,557},{170,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F15.png</string>
                        <key>spriteOffset</key>
                        <string>{215,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{972,557},{164,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F2.png</string>
                        <key>spriteOffset</key>
                        <string>{261,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1148,296},{148,293}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>F16.png</string>
                        <key>spriteOffset</key>
                        <string>{219,572}</string>
                        <key>spriteSourceSize</key>
                        <string>{640,1136}</string>
                        <key>textureRect</key>
                        <string>{{1138,591},{160,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
